<html>
<head>
  <title>Address Book</title>
</head>
<body>
  <h1>Address Book</h1>

  {% if contacts is not empty %}
    <p>Here are all of the contacts you have added:</p>
    <ul>
      {% for contact in contacts %}
        <li>{{ contact.getName }}</li>
        <li>{{ contact.getNumber }}</li>
        <li>{{ contact.getAddress }}</li>
      {% endfor %}
    </ul>
  {% endif %}

</body>
</html>
