<html>
<head>
  <title>Address Book</title>
</head>
<body>
  <h1>You have added a contact</h1>
  <p>{{ newcontact.getName }}</p>
  <p>{{ newcontact.getNumber }}</p>
  <p>{{ newcontact.getAddress }}</p>
  <p><a href='/'>View your list of contacts.</a></p>
</body>
</html>
